<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <h1>😂 Joke Generator</h1>

    <form action="/" method="post">
        <input type="text" id="name" name="name" placeholder="Enter your name">
        <button type="submit" >Get Joke</button>
    </form>
    <% if (locals.joke) {%>
        <h2><%= name %>, here is your joke:</h2>
        <%if (joke.type === "single") {%>
          <p><%= joke.joke %></p>
        <%} else {%>
          <p><%=joke.setup %> 😂 <%=joke.delivery%></p>
        <%}%>
    <%} else {%>
        <p>Hai bro hit to get joke 😂</p>
    <%} %>
    <div id="jokeBox"></div>
</body>
</html>